{% extends "layout.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}

{% block top %}
    <header>
        <h2>AnalyType</h2>
        <nav>
            <a class="nav-link" href="#">About</a>
            <a class="nav-link" href="#">History</a>
        </nav>
    </header>
{% endblock %}

{% block content %}
    <section>
        <h3 class="section-title">Brief</h3>
        <p>
            Welcome to AnalyType, an adaptive difficulty type tester based on accuracy within a fixed time. Press <strong>Shift + Enter</strong> to begin! Otherwise, click the <strong>Stop</strong> button to cancel the test.
        </p>
        <h3 class="section-title">Standard Mode</h3>
        <div id="test-area">
            <div class="test-section">
                <span id="time-display">N/A</span>
                <button id="quit-btn" class="page-btn">Stop</button>
            </div>
            <div class="test-section">
                <ul id="text-display">
                    <!-- <li class="word" -->
                        <!--
                            <span class="letter">?</span> 
                            ...
                        -->
                    <!-- </li> -->
                </ul>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script src="{{url_for('static', filename='js/timer.js')}}"></script>
    <script src="{{url_for('static', filename='js/tester.js')}}"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
{% endblock %}
